<div class="homeNavbar">
    <div class="leftPart" routerLink="/home">PicShare</div>
    <div class="midPart">
        <ul class="midList">
            <li class="navListItems" routerLink="/home">Home</li>
            <li class="navListItems" routerLink="/aboutUs">About Us</li>
            <li class="navListItems" routerLink="/gallary">Gallary</li>
        </ul>
    </div>
    <div class="rightPart">
        <input class="logbutton" type="button" value="Log Out" (click)="onLogout()">
    </div>
</div>

<div class="pageTitle">Group - 4</div>

<div class="details">
    <div class="detailsTitle">Group Members</div>
    <table class="detailsTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>PRN</th>
                <th>Roll No.</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Saurabh Keskar</td>
                <td>0120190118</td>
                <td>114</td>
            </tr>
            <tr>
                <td>Tanmay Joshi</td>
                <td>0120190088</td>
                <td>122</td>
            </tr>
            <tr>
                <td>Sahil Bhawani</td>
                <td>0120190128</td>
                <td>112</td>
            </tr>
            <tr>
                <td>Omkar Pawar</td>
                <td>0120190074</td>
                <td>126</td>
            </tr>
        </tbody>
    </table>
</div>